* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #1b0124;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000a2;
    color: #ffffff;
}

header .logo img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover, nav ul li a.active {
    color: #8200b2;
    font-weight: 700;
}

.hero {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
    color: #fff;
    text-align: center;
    position: relative;
}

.hero-content {
    background-color: rgba(31, 36, 47, 0.9);
    display: inline-block;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

.hero-content .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #4b0076;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    margin: 20px;
    transition: transform 0.3s;
}

.hero-content .avatar:hover {
    transform: scale(1.05);
}

.hero h1 {
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero-buttons .btn {
    display: inline-block;
    padding: 0.75rem 2rem;
    margin: 0.5rem;
    background-color: #6c5478;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-buttons .btn:hover {
    background-color: #2f1639;
    transform: scale(1.05);
}

.about {
    padding: 2rem 4rem;
    background-color: #6c5478ce;
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 800px;
    text-align: center;
}

.about h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: 'Merriweather', serif;
}

footer {
    background-color: #333333a2;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    width: 100%;
}

footer .social-media a {
    margin: 0 0.5rem;
    color: #ffffff;
    transition: color 0.3s ease;
}

footer .social-media a:hover {
    color: #aa00ff;
}

footer .social-media img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skill-card {
    background-color: #2f1639;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.05);
    background-color: #6c5478;
}

/* Media Queries para responsividade */
@media (max-width: 1023px) {
    .hero-content {
        display: flex;
        flex-direction: column; /* Imagem acima do texto em telas pequenas */
        align-items: center; /* Centralizando o conteúdo */
    }

    .hero-content .avatar {
        margin: 0 0 20px; /* Ajuste do espaçamento em volta da imagem */
    }

    .about {
        padding: 1rem; /* Ajuste do padding para telas pequenas */
        margin: 1rem auto; /* Margem reduzida */
    }
}

@media (max-width: 1200px) {
    .hero-content {
        flex-direction: column; /* Inverte a ordem dos elementos */
    }
}

body {
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }

/* Ocultar o menu em telas pequenas e adicionar transição suave */
@media (max-width: 768px) {
    nav ul {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }

    /* Mostrar o botão de menu */
    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
    }

    /* Exibir o menu quando ativo e empurrar o conteúdo para baixo */
    .nav-active nav ul {
        display: flex;
        animation: slideDown 0.3s ease-in-out;
    }
}

/* Animação para deslizar o menu para baixo */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
