* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #1b0124;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    color: #ffffff;
}

header .logo img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover, nav ul li a.active {
    color: #8200b2;
    font-weight: 700;
}

.hero {
    background-image: url('./images/background.jpg'); /* Adicione uma imagem de fundo sutil */
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
    color: #fff;
    text-align: center;
    position: relative;
}

.hero-content {
    background-color: #1f242f;
    display: inline-block;
    padding: 2rem;
    border-radius: 8px;
}

.hero-content .avatar {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: 150px; /* Garante que a imagem seja quadrada */
    border-radius: 50%; /* Torna a imagem redonda */
    border: 5px solid #4b0076; /* Borda branca */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para um efeito de destaque */
    object-fit: cover; /* Garante que a imagem preencha o círculo */
    margin: 20px; /* Espaçamento em volta da imagem */
    transition: transform 0.3s; /* Transição suave para efeitos */
}

.hero-content .avatar:hover {
    transform: scale(1.05); /* Aumenta um pouco a imagem ao passar o mouse */
}

.hero h1 {
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    margin-bottom: 0.5rem;
}

.hero h1 span {
    color: #6c5478;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero-buttons .btn {
    display: inline-block;
    padding: 0.75rem 2rem;
    margin: 0.5rem;
    background-color: #6c5478;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-buttons .btn:hover {
    background-color: #2f1639;
    transform: scale(1.05);
}

.about {
    padding: 2rem 4rem;
    background-color: #6c5478;
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 800px;
}

.about h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: 'Merriweather', serif;
}

footer {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .social-media a {
    margin: 0 0.5rem;
    color: #ffffff;
    transition: color 0.3s ease;
}

footer .social-media a:hover {
    color: #2f1639;
}

footer .social-media img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
body {
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }
  